# Ignore virtual environments
myenv/
.python/
.venv
.venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# FastAPI-specific files
instance/

# Logs and databases
*.log
*.sqlite3
*.db

# Generated audio and video files
generated_audio/
generated_video/
audio
*.wav
*.mp4
*.mp3

# Environment variables
.env
.env.local

# OS-specific files
.DS_Store
Thumbs.db
